@import url('https://fonts.googleapis.com/css2?family=Jost:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Jost', sans-serif;
    box-sizing: border-box;
}

.main-area {
    width: 100vw;
    min-height: 100vh;
    display: grid;
    place-items: center;
    background-color: burlywood;
}

#heading {
    color:black;
    text-align: center;
    font-size: 2.5rem;
    padding-top: 20px;
}

#logo {
    height: 40px;
    padding-right: 5px;
}

.inner-area {
    width: 50vw;
    background-color: #fff;
    padding: 30px 80px;
    border-radius: 10px;
}

.inner-area h2 {
    font-size: 2.5rem;
    font-weight: 300;
    margin: 10px 0 40px 0;
}

.inner-area li {
    font-size: 1.25rem;
    list-style: none;
    margin-top: 1.5rem;
}

input {
    cursor: pointer;
}

#next {
    padding: 10px 30px;
    font-size: 20px;
    font-weight: bold;
    display: block;
    margin: auto;
    outline: none;
    border: none;
    background-color: rgb(4, 16, 38);
    color: #fff;
    margin-top: 40px;
}

#next:hover {
    background-color:rgba(210, 105, 30, 0.521);
}

#score {
    background-color:rgb(164, 174, 149);
    margin-top: 30px;
    padding: 30px 40px;
}

.score-area {
    display: none;
}