@import url('https://fonts.googleapis.com/css2?family=Jost:wght@300&display=swap');

/* Main view setup*/
* {
    margin: 0;
    padding: 0;
    font-family: 'Jost', sans-serif;
    box-sizing: border-box;
}

.main-area {
    width: 100%;
    min-height: 100vh;
    display: grid;
    place-items: center;
    background-color: #dad6d1;
}

/* header */

#heading {
    color:black;
    text-align: center;
    font-size: 2.5rem;
    padding-top: 20px;
    background-color:rgba(72, 79, 83, 0.766)
}

/* logo */

#logo {
    height: 40px;
    padding-right: 5px;
}

/* Home */

.rules {
    padding-top: 50px ;
}

.rules h2 {
    text-align: center;
    color: rgb(4, 16, 38);
}

.rules p {
    font-weight: bold;
    padding-top: 20px;
    padding-left: 20px;
}

.textcentre {
    text-align: center;
}

/* timer */

#timer {
    color: rgb(4, 16, 38);
    margin-top: 30px;
    font-weight: bold;
}

#countdown {
    text-align: center;
}

/* game area */

.inner-area {
    width: 90vw;
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    margin: 20px;
}

.inner-area h2 {
    font-size: 2rem;
    font-weight: 300;
    margin: 10px 0 40px 0;
    color: rgb(4, 16, 38);
}

.inner-area li {
    font-size: 1.25rem;
    list-style: none;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

input {
    cursor: pointer;
}

#next, .btn {
    text-decoration: none;
    padding: 10px 30px;
    font-size: 20px;
    font-weight: bold;
    margin: auto;
    outline: none;
    border: none;
    background-color: rgb(4, 16, 38);
    color: #fff;
    margin-top: 40px;
    margin-bottom: 15px;
    cursor: pointer;
}

#next, .btn:hover {
    background-color:rgba(35, 41, 47, 0.521);
}

/* score area */

#score {
    
    margin-top: 30px;
    padding: 30px 40px;
}

#score h3 {
    font-size: 30px;
    text-align: center;
}

#score .btn {
    margin-top: 20px;
    background-color:rgb(6, 45, 109) ;
    color: #fff;
    display: block;
}

#score .btn:hover {
    margin-top: 20px;
    background-color:rgb(87, 122, 178) ;
    color: #fff;
}

.score-area {
    display: none;
}

/* For small screen sizes 800px and down */

@media (min-width: 800px) {
    .inner-area {
        width: 50vw;
        padding: 30px 80px;
    }
}

/* hide the radio buttons after selection */

.hide {
    display: none;
}